{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": false
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es6"
  }
  "minify": false
}
